<h1>Coder Factory Job Board</h1>
<p>Find talented junior developers</p>

<%= link_to "<i class='fa fa-building'></i> List your jobs".html_safe, new_user_registration_path(user_type: 'company'), class: 'btn btn-primary btn-lg' %>
<%= link_to "<i class='fa fa-user'></i> Get a job".html_safe, new_user_registration_path(user_type: 'student'), class: 'btn btn-primary btn-lg' %>
